<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>Servlet.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leer</servlet-name>
        <servlet-class>Servlet.Leer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>Servlet.Borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>Servlet.Actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leer</servlet-name>
        <url-pattern>/Leer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/Borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/Actualizar</url-pattern>
    </servlet-mapping>
</web-app>
